<body class="c1">
       <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
       
        <div class="container" id="para">
          <h2 align="center">Sign up</h2>
           <div class="row">
              <div class="col-12">    
                <%= f.email_field :email %>
              </div>
              <div  class="col-12">
              <%= f.password_field :password %>
            </div>
           
            <div class="col-12">
              <%= f.password_field :password_confirmation %>
            </div>
           
              <div class="col-12 actions">
              <%= f.submit "Sign up",class: "btn btn-success" %>
            </div>
          </div>
        
        <% end %>
         <%= render "devise/shared/links" %>
     </div>  
</body>








