
      <nav class="navbar navbar-expand-lg navbar-light  bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/dashboard">
          	  <img src="assets/4.png" width="100" height="30" alt="">
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
               <li class="nav-item">
               <%=link_to 'History' , new_cart_path, class: 'btn btn-info glyphicon glyphicon-shopping-cart'%>            
             </li>
          </ul>
          </div>
        </div>
      </nav>
		<div class="container">
		       <div class="row">
				   <div class="col-sm-12 ">
					  <table class="table table-hover">
					  
					    <thead class="thead	" align="center">
					      <tr>
					        <th scope="col">Name</th>
					        <th scope="col">Description</th>
					        <th scope="col">Price</th>
					        <th scope="col">Quantity Added</th>
					        <th scope="col">Total Price</th>
					        <th scope="col">Remove From Cart</th>

					      </tr>
					      
					    </thead>  
					    <tbody>
					    	<% @carts.each do |cart|%>
					      <tr align="center">		
					        <td scope="row"><%= cart.product.title %></td>
					        <td scope="row"><%= cart.product.description%></td>
					        <td scope="row"><%= cart.product.price%>Rs</td>
					        <td scope="row"><%= cart.quantity%></td>
					        <td scope="row"><%= cart.product.price*cart.quantity%>Rs</td>
					        <td scope="row"><%= link_to 'Delete', cart_path(cart),method: :delete,data: { confirm: 'Are you sure?' },class: " glyphicon glyphicon-remove" %></td>
					     </tr>
					      <%end%>
					    </thead>
                    <tr align="center">
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total Bill:</h3></td>
                        <td class="text-right"><h3><strong><%=current_user.sub_total%>Rs</strong></h3></td>
                        <td>   </td>
                        <td>   </td>
                    </tr>
                    <tr align="center",id="btn1">
                        <td>
                        <%=link_to 'Continue Shopping',products_index_path,:method => "get" ,class: "glyphicon glyphicon-arrow-left btn btn-info float-left"%></td>
                        <td>    </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                      <td>   
                       <%= link_to 'Checkout' , new_checkout_path, :method => "get" ,class: "glyphicon glyphicon-arrow-right float-right btn btn-info"%>
                        </td>
                    </tr>
			 </tbody> 
		</table>
	</div>
  </div>
</div>
					
								

