<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark navbar-top fixed-top">
  <a class="navbar-brand" href="/dashboard"><img src="/assets/logoo.png" width="150" height="70" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/carts/new">
          <i class="fa fa-history"></i>
          History
          <span class="sr-only">(current)</span>
          </a>
      </li>
    </ul>
  </div>
</nav>
		<div class="container">
		       <div class="row">
				   <div class="col-sm-12 ">
					  <table class="table table-hover">
					  
					    <thead class="thead	" align="center">
					      <tr>
					        <th scope="col">Name</th>
					        <th scope="col">Description</th>
					        <th scope="col">Price</th>
					        <th scope="col">Quantity Added</th>
					        <th scope="col">Total Price</th>
					        <th scope="col">Remove From Cart</th>

					      </tr>
					      
					    </thead>  
					    <tbody>
					    	<% @carts.each do |cart|%>
					      <tr align="center">		
					        <td scope="row"><%= cart.product.title %></td>
					        <td scope="row"><%= cart.product.description%></td>
					        <td scope="row"><%= cart.product.price%>Rs</td>
					        <td scope="row"><%= cart.quantity%></td>
					        <td scope="row"><%= cart.product.price*cart.quantity%>Rs</td>
					        <td scope="row"><%= link_to '', cart_path(cart),method: :delete,data: { confirm: 'Are you sure?' },class: "fas fa-trash-alt"%></td>
					     </tr>
					      <%end%>
					    </thead>
                    <tr align="center">
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total Bill:</h3></td>
                        <td class="text-right"><h3><strong><%=current_user.sub_total%>Rs</strong></h3></td>
                        <td>   </td>
                        <td>   </td>
                    </tr>
                    <tr align="center",id="btn1">
                        <td>
                        <%=link_to '',products_index_path,:method => "get" ,class: "fas fa-angle-left  float-left"%></td>
                        <td>    </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                      <td>   
                       <%= link_to '' , new_checkout_path, :method => "get" ,class: "fas fa-angle-right float-right"%>
                        </td>
                    </tr>
			 </tbody> 
		</table>
	</div>
  </div>
</div>
					
								

