<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark navbar-top fixed-top">
<a class="navbar-brand" href="/dashboard"><img src="/assets/logoo.png" width="150" height="70" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
			
					<div class="container">		
					<h2 align="center">Previous Purchased Products:</h2>	
					  <table class="table table-hover">
					    <thead class="thead" align="center">
					      <tr>
					        <th>Name</th>
					        <th>Description</th>
					        <th>Price</th>
					        <th>Quantity Added</th>
					        <th>Total Price</th>
					     
					      </tr>

					    </thead>
					  
					    <tbody>
					    	<% @carts.each do |cart|%>
					      <tr align="center">					
					        <td><%= cart.product.title %></td>
					        <td><%= cart.product.description%></td>
					        <td><%= cart.product.price%></td>
					        <td><%= cart.quantity%></td>
					        <td><%= cart.product.price*cart.quantity%></td>
					      </tr>
					      <%end%>
					    </tbody>
					  </table>	

