 <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark navbar-top fixed-top">
  <a class="navbar-brand" href="/dashboard"><img src="/assets/logoo.png" width="150" height="70" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/carts">
          <i class="fa fa-home"></i>
          Cart
          <span class="sr-only">(current)</span>
          </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
         <div class="row">
     <% if @products.present? %>
       <% @products.each do |product|%>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="<%= (product.image) %>" alt="Card image cap">
        <div>
          <h5 class="card-title"><strong><%= product.title %></strong> </h5>
        <hr>

        </div>
         <div  style="text-align: left !important;">
          <p><%= product.price %> PKR </p>
          <p><%= product.description %> </p>
          <p><strong>Bying Quantity </strong></p>
         <%= form_tag("/carts/manage_product", method: "post") do  %>
               <%= number_field_tag :quantity , required: true %>
               <%= hidden_field_tag(:product_id, product.id) %>
               <%= hidden_field_tag(:type, true) %><br>
               <%= submit_tag("Add To Cart",class: " btn btn-outline-success btn-sm", id:'cart')%>
          <%end%>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col">
              <%if current_user.has_role? :admin%>
              <a href="<%= edit_product_path(product) %>"><i class="fas fa-user-edit"></i></a>
              <%end%>
            </div>
            <div class="col">
              <%if current_user.has_role? :admin%>
              <a href="<%= product_path(product) %>" data-confirm="Are you Sure?" data-method="delete"><i class="fas fa-trash"></i></a>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%end%>
    <%else%>
    <div class="container">
         <p align="text-center">There will be no products available.</p>
     </div>
    <%end%>

  </div>
</div>