      <nav class="navbar navbar-expand-lg navbar-light  bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/dashboard">
              <img src="/assets/4.png" width="100" height="30" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                      <%if current_user.has_role? :admin%>
                         <%= button_to "Add Category", new_category_path, :method => "get", class: "btn btn-info" %>
                     <%end%>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
       <div class="row">
                  <% if @categories.present? %>
                  <% @categories.each do |category|%>
                    <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card h-80">
                       <div class="product_img_wrapper">
                         <%= image_tag(category.image.url) %>
                       </div>
                        <div class="card-body">
                          <h4 class="card-title">
                          <strong>Title:</strong>
                           <%= category.title %>    
                          </h4>
                          <p class="card-text">
                            <strong>Description:</strong>
                            <%= category.description%></p> 
                          <%if current_user.has_role? :admin%>
                          <div class="row">
                            <div class=" col-sm-3 col-sm-2">
                          <p class="card-text">
                            <%= button_to 'Edit', edit_category_path(category),class: 'btn btn-info'%>
                          </p>
                        </div>
                        <div class="col-sm-3">
                           <p class="card-text">
                            <%= button_to 'Delete', category_path(category),method: :delete,data: { confirm: 'Are you sure?' },class: 'btn btn-info' %>
                          </p>
                        </div>
                      </div>
                            <%end%>
                        </div>
                      </div>
                     </div>
                    <%end%>
                    <%end%>
                  </div>
                </div>