    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark navbar-top fixed-top">
  <a class="navbar-brand" href="/dashboard"><img src="/assets/logoo.png" width="150" height="70" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/categories/new">
          <i class="fa fa-home"></i>
          <%if current_user.has_role? :admin%>
          Add Category
          <%end%>
          <span class="sr-only">(current)</span>
          </a>
      </li>
    </ul>
  </div>
</nav>
  <div class="container-fluid">
    <div class="row">
     <% if @categories.present? %>
       <% @categories.each do |category|%>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card text-center">
        <img class="card-img-top" src="<%= (category.image) %>" alt="Card image cap">
        <div class="card-body" id="card">
          <h5 class="card-title">
            <strong>Title:</strong>
            <%= category.title %> </h5>
        </div>
         <div class="card-body" id="card">
          <h5 class="card-title"><strong>Description:</strong><%= category.description %> </h5>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col">
              <%if current_user.has_role? :admin%>
              <a href="<%= edit_category_path(category) %>"><i class="fas fa-user-edit"></i></a>
              <%end%>
            </div>
            <div class="col">
              <%if current_user.has_role? :admin%>
              <a href="<%= category_path(category) %>" data-confirm="Are you Sure?" data-method="delete"><i class="fas fa-trash"></i></a>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%end%>
    <% else%>
    <div class="container">
    <p align="text-center">There will be no categories available.</p>
  </div>
    <%end%>
  </div>
</div>
</div>
</div>